@model Hackfest.Models.Participant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/monStyle.css" rel="stylesheet" />
    <title>FormulaireRSVP</title>

</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>RSVP</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Votre prénom :</label>
                    @Html.TextBoxFor(i => i.Prénom, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Votre nom :</label>
                    @Html.TextBoxFor(i => i.Nom, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Votre courriel :</label>
                    @Html.TextBoxFor(i => i.Courriel, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Votre affiliation :</label>
                    @Html.TextBoxFor(i => i.Affiliation, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Votre date d'inscription : (MM-JJ-AAAA)</label>
                    @Html.TextBoxFor(i => i.DateInscription, new { @class = "form-control" })
                </div>
                @*<div class="form-group">
                    <label>Montant à payer :</label>
                    @Html.TextBoxFor(i => i.Montant, new { @class = "form-control" })
                </div>*@
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Go" />
                </div>
            }
        </div>
    </div>
</body>
</html>

